* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

img {
  width: 30px;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #e9e9e9;
}

#main-container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  grid-template-rows: max-content max-content;
  gap: 20px;
}

#container {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  width: 1000px;
  height: 600px;
}

#left {
  background-color: #fafafa;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 600px;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
}

#city {
  position: absolute;
  left: 5%;
  top: 5%;
}

#date {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

#weather {
  padding-top: 120px;
  display: grid;
  grid-template-columns: max-content 100px;
  justify-items: center;
  grid-column: 1 / -1;
  height: 220px;
  color: #696969;
  align-items: center;
  margin-left: 50px;
}

#temperature {
  font-size: 170px;
  font-weight: 400;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#wind {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}
#content {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  align-self: flex-end;
  grid-column: 2 / -1;
  width: 105px;
  margin-right: 50px;
  gap: 10px;
}

#humidity {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

#condition {
  display: grid;
  grid-template-columns: max-content 60px;
  font-size: 30px;
  color: #696969;
  grid-row: 2 / 3;
}

#content > img {
  justify-self: center;
}

#forecast {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

.box {
  display: grid;
  border-radius: 10px;
  padding: 10px;
  width: 60px;
  height: 90px;
  justify-items: center;
  align-items: center;
  grid-auto-rows: max-content;
  gap: 10px;
  cursor: pointer;
}

.temp,
.hour-temp {
  font-size: 20px;
  color: #696969;
}

.day,
.time {
  font-size: 13px;
}

#right {
  background-color: #f6f6f6;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
}

#weather-right {
  display: grid;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  color: #696969;
  width: 170px;
  justify-content: center;
  gap: 5px;
}

#time {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

#right-temperature {
  color: #696969;
  font-size: 50px;
  font-weight: 600;
  justify-self: center;
}

#feel,
#right-condition {
  justify-self: center;
}

#feel {
  font-size: 14px;
}

#right-condition {
  font-size: 18px;
}

#right-wind {
  display: flex;
  gap: 5px;
  font-size: 14px;
  align-items: center;
  color: #000;
}

#right-wind > img,
#right-humidity > img {
  height: 18px;
}

#right-humidity {
  display: flex;
  gap: 5px;
  font-size: 14px;
  align-items: center;
  color: #000;
}

#hourly-forecast-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 19px;
}

#hourly-forecast-title > button {
  background-color: transparent;
  border: none;
}

#hourly-forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  gap: 15px;
}

.hour-box {
  display: grid;
  border-radius: 15px;
  padding: 10px;
  width: 55px;
  height: 90px;
  justify-items: center;
  align-items: center;
  border: 1px solid #e2e2e2;
  grid-auto-rows: max-content;
  gap: 10px;
}

#main-container > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  gap: 5px;
  border-bottom: 1px solid #a9a9a9;
  padding-right: 5px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
}

#location-input {
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding-left: 5px;
}

#location-input:focus {
  outline: none;
}

#search {
  cursor: pointer;
  height: 24px;
  width: auto;
}

#location-input::placeholder {
  color: #a9a9a9;
}

.error-msg {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
  left: 265px;
  align-self: center;
  color: #696969;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #696969;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
  position: absolute;
  left: 270px;
}
#loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
